

@model CarDealersWebApp.Models.Dealer.CarListViewModel
@{
    ViewData["Title"] = "Offer List";
}

@if(TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

@if (TempData["fail"] != null)
{
    <div class="alert alert-danger">
        @TempData["fail"]
    </div>
}

<h2>Add new car:</h2>
<hr />
<br />

<form  enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">

        <div class="row mb-3">
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-text">Brand & Model name: </span>
                    <input type="text" aria-label="BrandName" placeholder="Toyota" class="form-control" asp-for="NewCarViewModel.BrandName" />
                    <input type="text" aria-label="ModelName" placeholder="Camry V6 GX" class="form-control" asp-for="NewCarViewModel.Model" />
                </div>
                <div class="row ps-5 ms-5">
                    <div class="col ps-5 ms-5">
                        <span asp-validation-for="NewCarViewModel.BrandName" class="text-danger"></span>
                    </div>
                    <div class="col ps-5 ms-5" >
                        <span asp-validation-for="NewCarViewModel.Model" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>



        <div class="mb-3 row">
            <div class="input-group col-md-5 col-sm-11">
                <div class="col-md-1 col-sm-3">
                    <span class="input-group-text">Year: </span>
                </div>
                <div class="col-md-4 col-sm-8">
                    <input type="number" placeholder="2015" class="form-control" asp-for="NewCarViewModel.Year"/>
                    <span asp-validation-for="NewCarViewModel.Year" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="input-group">
                <div class="col-md-1 col-sm-3">
                    <span class="input-group-text">Mileage: </span>
                </div>
                <div class="col-md-4 col-sm-8">
                    <input type="number" placeholder="150000" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" asp-for="NewCarViewModel.Mileage">
                    <span asp-validation-for="NewCarViewModel.Mileage" class="text-danger"></span>
                </div>
                <span class="input-group-text">km</span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="input-group">
                <div class="col-md-2 col-sm-3">
                    <span class="input-group-text">Horse Power: </span>
                </div>
                <div class="col-md-3 col-sm-8">
                    <input type="number" class="form-control" placeholder="150" asp-for="NewCarViewModel.HP"/>
                    <span asp-validation-for="NewCarViewModel.HP" class="text-danger"></span>
                </div>
                <span class="input-group-text">HP</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Fuel Type:</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" onclick="setFuelType(0, 'Petrol')">Petrol</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setFuelType(1, 'Diesel')">Diesel</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setFuelType(2, 'Electric')">Electric</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setFuelType(3, 'Hybrid')">Hybrid</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" onclick="setFuelType(4, 'Hydrogen')">Hydrogen</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setFuelType(5, 'Ethanol')">Ethanol</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setFuelType(6, 'CompressedNaturalGas')">Compressed natural gas</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setFuelType(7, 'LiquefiedPetroleumGas')">Liquefied petroleum gas</a></li>
                        <li><a class="dropdown-item" href="#" onclick="setFuelType(8, 'Biodiesel')">Biodiesel</a></li>
                    </ul>
                    <div class="col-md-8">
                        <input id="fuelTypeInput" class="form-control" aria-label="Text input with dropdown button" disabled>
                    </div>
                </div>
                <span asp-validation-for="NewCarViewModel.FuelType" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="NewCarViewModel.FuelType" id="FuelType" />


        <div class="mb-3 row">
            <div class="input-group">
                <div class="col-md-1 col-sm-3">
                    <span class="input-group-text">Price: </span>
                </div>
                <div class="col-md-4 col-sm-8">
                    <input type="number" min="0" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" asp-for="NewCarViewModel.Price">
                    <span asp-validation-for="NewCarViewModel.Price" class="text-danger"></span>
                </div>
                <span class="input-group-text">$</span>
            </div>
        </div>

        <!--Upload section-->
        <div class="row">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile" asp-for="NewCarViewModel.file">
                    @* <label class="input-group-text" for="inputGroupFile">Upload</label> *@
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="mb-3 col-md-6 col-sm-12">
                <label for="exampleFormControlTextarea" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="255" placeholder="Short description here..." asp-for="NewCarViewModel.Description"></textarea>
            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary mb-3 mt-1">Create</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<!--Script for dropdown menue-->
<script>
    document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', event => {
            // Get the text of the clicked item
            let selectedText = event.target.textContent;
            // Set the text in the disabled input field
            document.getElementById('fuelTypeInput').value = selectedText;
        });
    });

    function setFuelType(value, text) {
        document.getElementById('FuelType').value = value;
        document.getElementById('fuelTypeInput').value = text;
    }
</script>


<br />
<h2>Existing items:</h2>
<hr />
<br />

<div>
    @if (Model.ExistingCars != null && Model.ExistingCars.Any())
    {
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            @foreach (var car in Model.ExistingCars)
            {
                <div class="col mb-3">
                    <div class="card h-100" style="max-width: 16rem; max-height: 24rem;">
                        <img src="@Url.Content(car.ImagePath)" class="card-img-top" alt="car_image" style="height: 150px; object-fit: cover;">
                        <div class="card-body" style="padding: 0.5rem;">
                            <h5 class="card-title" style="font-size: 1.1rem;">@car.BrandName</h5>
                            <p class="card-text" style="font-size: 1rem;">@car.Model</p>
                            @if (!string.IsNullOrEmpty(car.ShortDescription))
                            {
                                <p class="card-text" style="font-size: 0.9rem;">@car.ShortDescription</p>
                            }
                        </div>
                        <ul class="list-group list-group-flush" style="font-size: 0.9rem;">
                            <li class="list-group-item">Year: @car.Year</li>
                            <li class="list-group-item">Mileage: @car.Mileage</li>
                            <li class="list-group-item">Price: @car.Price</li>
                        </ul>
                        <div class="card-footer d-flex justify-content-between p-0">
                            <a asp-controller="EditCar" asp-action="EditCar" asp-route-id="@car.CarId" class="btn btn-secondary flex-grow-1 text-center" style="font-size: 0.9rem;">Edit</a>
                            <a asp-action="DeleteCar" asp-route-id="@car.CarId" class="btn btn-danger flex-grow-1 text-center" style="font-size: 0.9rem;">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No cars yet...</p>
    }
</div>